.profile__edit-button {
  border: 1px solid #ffffff;
  height: 22px;
  width: 22px;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 0;
  background-image: url(../../../Images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 0 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}