.profile__edit-button {
  background-image: url(../../../Images/pencil.svg);
  margin: 0px;
  width: 24px;
  height: 24px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  align-items: center;
  grid-area: edit-button;
  align-self: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}