.form__data {
  font-family: inherit;
  border: none;
  border-bottom: 1px solid black;
  opacity: 0.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .form__data {
    width: 238px;
  }
}