.profile__description {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 30px;
}

@media screen and (max-width: 680px) {
  .profile__description {
    margin: 0 auto 36px;
    
  }
}