.grid-element__emoji {
  border: none;
  background-image: url(../../../images/Like.svg);
  background-color: white;
  width: 22px;
  height: 18px;
  transition: 0.3s;
  margin-right: 20px;
  cursor: pointer;
}

.grid-element__emoji:hover {
  opacity: 0.5;
}